div#wrapper-login {
  width: 100%;
  > #login_form{
    width: 40%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    > .login-input{
      margin: 5% 0 0 0;
    }
    > #login-submit{
      width: 50%;
      margin: 0 auto;
      margin-top: 5%;
    }
    > #login-register{
      margin-top: 2%;
    }
    > .resetPassword{
      text-decoration: none;
      display: block;
      margin-top: 2%;
    }
  }
  > #login-header{
    text-align: center;
  }
}

div#user-registration{
  width: 100%;
  > #sign-up-form{
    width: 40%;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
    > #createNewUser{
      margin: 0 auto;
    }
    > .newSessionLink{
      text-decoration: none;
      display: block;
      margin-top: 2%;
    }
  }
}
