div#map {
  visibility: hidden;
  margin: 0;
  z-index: 1;
}

button.doc-button{
  display: inline-block;
  margin-right: 3px;
}

div#upload-panel{
  display: none;
  width: 60%;
  margin: 0 auto;
  top: 20%;
  max-height: 400px;
  overflow-y: scroll;
}

#upload-panel::-webkit-scrollbar { 
    display: none; 
}

span.close-upload-panel {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;
}

span.close-upload-panel:hover {
  background: rgba(0, 0, 0, 0.3);
}

div#file-upload{
  margin: 0 auto;
}

form#file-form, form#addMarker-form{
  display: none;
}

form#addMarker-form > div.form-group {
  margin-bottom: 8px;
}

