div#map {
  visibility: hidden;
  margin: 0;
  z-index: 1;
}

div.leaflet-popup-content {
  min-width: 250px;
}

div.mapMessage{
  word-break: break-all;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 10;
  position: absolute;
}


