#table-expenses {
  display:none;
}

form#expense-receipts-form {
  display: inline-block;
}

div#add-receipt, div#expense-edit{
  display:none;
  width: 50%;
  max-height: 500px;
  z-index: 10;
  position:absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  overflow: auto;
  -ms-overflow-style: none;
}

div#expense-edit::-webkit-scrollbar {
  display: none;
}

div.expense_date {
  padding-left: 2.5% !important;
  padding-right: 2.5% !important;
}

div#addReceiptCloseDiv{
  margin-top: 10px;
}

input#download-receipt{
  margin-right: 20px;
  width: 100%;
  display: block;
}

form#expense-receipts-form {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  position:relative;
}

i.delete-receipt {
    margin-top: -40px;
    top: 30px;
    right: -20px;
    position: absolute;
}

i.delete-receipt:hover {
  color: #ccc;
}

div#download-close-btn {
  display:inline-block;
}

