#nav{
  max-width:100%;
  z-index: 1000;
  margin: 0;
  /*background: #303030;*/
  background: rgb(149,149,149); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 92%, rgba(56,56,56,1) 100%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 92%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 92%,rgba(56,56,56,1) 100%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
  font-family: 'Bree Serif', serif;
  border: none;
}

#nav-brand{
  padding: 8px;
}
.navbar-header{
  margin-right: 0 !important;
}

#page-content-wrapper {
    width: 100%;
}

#nav-brand-name{
  display: inline-block; 
  padding-left: 5px; 
  color: #479DFF; 
  text-decoration: none
}

#nav-brand-logo{
  display: inline-block;
}

#nav-logout li a {
  color: #479DFF;
}

#nav-logout li a:hover {
  color: #ffffff;
}

#navbar-views li a {
  color: #479DFF;
}

#navbar-views li.active a, #nav-logout li.active a {
  background: #479DFF;
  color: #ffffff
}

#navbar-views li a:hover, #nav-logout li a:hover{
  background: #8dcaff;
  color: #ffffff;
}

#navbar-views li.open .dropdown-toggle {
  background: #479DFF;
  color: #ffffff
}